@import "../../shared/styles/common";

h1,p {
  margin: 0;
}

.card-content-container {
  height: 180px;
  width: 236px;
  @include flex(center, center);
  flex-direction: column;
}

.card-title {
  color: #000;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 1.08px;
}

.card-duration {
  color: #B4BCCF;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0.6px;
}

.card-price {
  color: #01C550;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.96px;
}

.price-symbol {
  color: red;
}