.auth-form {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 100px;
    margin: 20px auto;
    gap: 10px;
}

.header {
    display: flex;
    justify-content: space-around;
}

.todo-item-wrapper {
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
}

.todo-item {
    background: rgba(239, 62, 53, 0.73);
}

.completed {
    background: rgba(1, 197, 80, 0.73);
}