.cards-wrapper-container {
    background: rgb(39, 43, 51);
    width: auto;
    min-height: 100vh;
    padding: 20px;
    height: 100%;
    border-radius: 8px;
}

.cards-wrapper {
    display: flex;
    flex-wrap: wrap;

    @media (max-width: 1200px) {
        justify-content: center;
        align-items: center;
    }

    @media (min-width: 1200px) {
        justify-content: space-around;
    }
}