.header {
    height: 240px;
    background: linear-gradient(#fcfcfc, rgba(180, 188, 207, 0.84), rgba(143, 154, 166, 0.84));

    & .navigation {
        display: flex;
        justify-content: space-between;
        padding-top: 1rem;

        & .nav-items-container {
            display: flex;
            justify-content: space-around;
            width: 30%;
            align-items: center;


            & .nav-button {
                margin: 0;
                border-radius: 0.5rem;
                padding: 0.5rem 1rem;
                font-weight: 700;
                border: 1px solid rgb(255, 152, 0);
                background: transparent;
                color: rgb(51, 51, 51);
                transition: all 0.1s ease 0s;
                cursor: pointer;

                &:hover {
                    border: 1px solid transparent;
                    background: rgb(255, 152, 0);
                    color: rgb(255, 255, 255);
                }
            }
        }

        & .nav-item {
            color: rgb(51, 51, 51);
            border: none;
            font-weight: 700;
            transition: all 0.1s ease 0s;

            &:hover {
                color: rgb(255, 152, 0);
            }
        }

        & svg {
            fill: black;
        }
    }
}